<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460339494044-2s106bboh3b77grjt9r71on9ti8hqf0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460339494044-2s106bboh3b77grjt9r71on9ti8hqf0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBSAwROGvYqqpo6RoPhmHxq37nEa3S6Fi0</string>
	<key>GCM_SENDER_ID</key>
	<string>460339494044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HuzaifaRocky.AoBaatKren</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-51cad</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-51cad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460339494044:ios:63b6c2a57f2293ee488159</string>
</dict>
</plist>